<p>home works!</p><br><br>

   <button mat-flat-button color="primary" (click)="counter('minus')"><h1>- -</h1></button><br><br>
   <h1>noofcount : {{count}}</h1>
   <button mat-flat-button color="primary" (click)="counter('add')"><h1>+ +</h1></button><br><br>
   <h1 class="kot">{{school}}</h1>
<br><br>
   <h2 class="kot">The World</h2>

   <h1 *ngIf="college=='MSIT'; then emptbuck else fullbuck"></h1>
   <ng-template #emptbuck>
      <h1>This is MSIT</h1>
   </ng-template>
   <ng-template #fullbuck>
      <h1>This is not MSIT</h1>
   </ng-template>
   



